#root {
	height: 100%;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  
}

/* pushes page content below header */

#root:nth-child(2) {
margin-top: 64px
}

/* Home Page grid */

#homePage {  
	display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "photoGallery reviews"
    "description reviews";
}

#photoGallery { grid-area: photoGallery; }

#description { 
	grid-area: description;
	padding: 0 65px;
 }

#description h2 {
	font-size: 2.2em;
}

#reviews { 
	grid-area: reviews;
	margin: 10px 25px;
	border: 2px solid black;
	border-radius: 12px;
	padding: 0 15px;
 }

.reviewContent {
	font-size: 0.8em;
}

.reviewDate {
	text-align: right;
}

/* Slideshow on home page */

.slideshow {
	max-height: 640px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 640px;
	border-radius: 15px;
}

.slider {
	white-space: nowrap;
	transition: ease 1000ms
}

.slider img {
	display: inline-block;
	height: 640px;
	width: 100%;
}

.slideshowDots {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 640px;
	width: 100%;
}

.slideshowDots .active {
	background-color: black;
}

.slideshowDot {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: gray;
}

/* Form on login and signup page */

#loginForm, #signupForm {
	max-width: 80vw;
	margin: 10vw 15vh;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
}

#mainFieldset {
	border: none;
}

legend {
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 2.2em;
	font-weight: 900;
	padding-bottom: 30px;
}

#loginForm label, #signupForm label {
	font-size: 2em;
	font-weight: 900;
	display: block;
}

#loginEmail div, #loginPassword div, #signupEmail div, #signupPassword div, #signupPasswordConfirm div, #signupUsername div {
	width: 80%;
	margin: 10px auto;
}

#loginEmail div input, #loginPassword div input {
	text-align: center;
}

#loginSubmit button, #signupSubmit button {
	width: 50%;
	height: 5vh;
	margin-bottom: 10px;
}

iframe {
	display: none;
}