#root {
	height: 100%;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  
}

/* pushes page content below header and above footer */

#root>div, footer {
margin-top: 64px
}

#root>div:last-of-type {
	margin-bottom: 64px;
}

/* Home Page grid */

#homePage {  
	display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "photoGallery reviews"
    "description reviews";
}

/* Home page mobile view */

@media screen and (max-width: 1024px){
	#homePage {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 
		"photoGallery"
		"description"
		"reviews";
	}
	header {
		padding: 0 !important;
	}
	header h1 {
		font-size: 1rem !important;
	}
	header a {
		font-size: .7rem !important;
	}
}

#photoGallery { grid-area: photoGallery; }

#description { 
	grid-area: description;
	padding: 0 65px;
 }

#description h2 {
	font-size: 2.2em;
}

#reviews { 
	grid-area: reviews;
	margin: 10px 25px;
	border: 2px solid black;
	border-radius: 12px;
	padding: 0 15px;
 }

.reviewContent {
	font-size: 0.8em;
}

.reviewDate {
	text-align: right;
}

/* Slideshow on home page */

.slideshow {
	max-height: 640px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 640px;
	border-radius: 15px;
}

.slider {
	white-space: nowrap;
	transition: ease 1000ms
}

.slider img {
	display: inline-block;
	height: 640px;
	width: 100%;
}

.slideshowDots {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 640px;
	width: 100%;
}

.slideshowDots .active {
	background-color: black;
}

.slideshowDot {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: gray;
}

/* Photo gallery mobile view */

@media screen and (max-width: 640px) {
	.slideshow {
		max-height: 400px;
		max-width: 400px;
	}
	.slider img {
		height: 400px;
	}

	.slideshowDots {
		max-width: 250px;
		align-items: center;
		left: 30%;
		height: 40px;
	}

	.slideshowDot {
		margin: 4px;
	}
}

/* Limit calendar height so it doesn't flow into footer */

.fc {
	max-height: calc(100vh - 128px);
}

/* Form on login and signup page */

#loginForm, #signupForm {
	max-width: 80vw;
	margin: 10vw 15vh;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
}

#mainFieldset {
	border: none;
}

legend {
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 2.2em;
	font-weight: 900;
	padding-bottom: 30px;
}

#loginForm label, #signupForm label, #contactForm label {
	font-size: 2em;
	font-weight: 900;
	display: block;
}

#loginEmail div, #loginPassword div, #signupEmail div, #signupPassword div, #signupPasswordConfirm div, #contactForm, #signupUsername div, #contactName div, #contactEmail div, #contactMessage div {
	width: 80%;
	margin: 10px auto;
}

#loginEmail div input, #loginPassword div input, #contactName div, #contactEmail input {
	text-align: center;
}

#loginSubmit button, #signupSubmit button, #contactForm button {
	width: 50%;
	height: 5vh;
	margin-bottom: 10px;
}

/* mobile form on login and signup page */

@media screen and (max-width: 1024px) {
	#loginForm, #signupForm {
		max-width: 100vw;
		margin: 64px 0;
		border: none;
	}

	legend, #loginForm label, #signupForm label, #contactForm label  {
		font-size: 1.5em;
	}
}


/* Calendar modal */

#dialogBox  {
 min-width: 25vw;
 text-align: center;
 min-height: 25vh;
}

#dialogBox h2 {
	padding-bottom: 45px;
}

#dialogBox p {
	padding: 10px 10px
}

#dialogBox button {
	border: 1px solid gray;
	margin: 5px 5px;
}

footer {
	background-color: #1976d2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
}

footer a, footer p {
	color: #fff !important
}

footer p {
	margin: 0;
}

/* can remove this later but some issue with react-scripts makes their error iframe not go away */
iframe {
	display: none;
}